gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
